<template>
  
</template>

<script>
export default {
  name: 'PaymentDetail',
  props: {
    payment: Object
  },
  data () {
    return {
      myPayment: undefined
    }
  },
  methods: {
    onUpdate () {
      this.$emit('onUpdate', this.myPayment)
    }
  },
  watch: {
    payment (n, o) {
      this.myPayment = n
    }
  },
  mounted () {
    this.myPayment = this.payment
  }
}
</script>
