<template>
  <pre>
    {{ payments }}
  </pre>
</template>

<script>
export default {
  name: 'PaymentList',
  props: {
    payments: Array
  },
  data () {
    return {
      fields: []
    }
  },
  methods: {
    onSelect (payment) {
      this.$emit('onSelect', payment)
    },
    onDoubleClick (payment) {
      this.$emit('onDoubleClick', payment)
    },
    onDestroy (payment) {
      this.$emit('onDestroy', payment)
    }
  }
}
</script>
