<template>
  <div class="row">
    <div v-if="medicines.length > 0" class="col-md-12">
      <b-table
        striped
        hover
        :items="medicines"
        :fields="fields"
        @row-clicked="onSelect"
        v-b-tooltip.hover
      >
        <div slot="table-busy" class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </b-table>
    </div>
    <div v-if="medicines.length <= 0" class="col-md-12">
      <p>No Data...</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MedicineList',
  props: {
    medicines: Array
  },
  data () {
    return {
      fields: [
        {key: 'medicine_number', label: 'Nomer Obat'},
        {key: 'name', label: 'Nama'},
        {key: 'unit', label: 'Unit'},
        {key: 'medicine_type', label: 'Jenis'},
        {key: 'stock', label: 'Stok'},
        {key: 'price', label: 'Harga'},
        {key: 'is_draft', label: 'Draft'}
      ]
    }
  },
  methods: {
    onSelect (medicine) {
      this.$emit('onSelect', medicine)
    }
  }
}
</script>
