<template>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Nomer Obat</label>
        <input
          v-model="query.medicine_number"
          @keypress.enter="onFilter"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label>Nama Obat</label>
        <input
          v-model="query.name"
          @keypress.enter="onFilter"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label>Unit</label>
        <input
          v-model="query.unit"
          @keypress.enter="onFilter"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label>Stok</label>
        <input
          v-model="query.stock"
          @keypress.enter="onFilter"
          type="number"
          class="form-control"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MedicineFilter',
  data () {
    return {
      query: {
        medicine_number: '',
        name: '',
        unit: '',
        stock: ''
      }
    }
  },
  methods: {
    onFilter () {
      this.$emit('onFilter', this.query)
    }
  }
}
</script>
