<template>
  
</template>

<script>
export default {
  name: 'RecipeItemDetail',
  props: {
    recipeItem: Object
  },
  data () {
    return {
      myRecipeItem: undefined
    }
  },
  methods: {
    onUpdate () {
      this.$emit('onUpdate', this.myRecipeItem)
    }
  },
  watch: {
    recipeItem (n, o) {
      this.myRecipeItem = n
    }
  },
  mounted () {
    this.myRecipeItem = this.recipeItem
  }
}
</script>
