<template>
  <pre>
    {{ recipeItems }}
  </pre>
</template>

<script>
export default {
  name: 'RecipeItemList',
  props: {
    recipeItems: Array
  },
  data () {
    return {
      fields: []
    }
  },
  methods: {
    onSelect (recipeItem) {
      this.$emit('onSelect', recipeItem)
    },
    onDoubleClick (recipeItem) {
      this.$emit('onDoubleClick', recipeItem)
    },
    onDestroy (recipeItem) {
      this.$emit('onDestroy', recipeItem)
    }
  }
}
</script>
