<template>
  <footer class="footer">
    <div class="container-fluid">
      <nav>
        <ul class="footer-menu">
          <li>
            <a href="javascript:void(0)"><i class="fa fa-coffee"></i>&nbsp;Tentang</a>
          </li>
          <li>
            <a href="javascript:void(0)"><i class="fa fa-bolt"></i>&nbsp;Donasi</a>
          </li>
        </ul>
        <p class="copyright text-center">
          © 2019
          <a href="javascript:void(0)">sabeeni</a>,
          technology for humans
        </p>
      </nav>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'CommonFooter'
}
</script>

<style>

</style>
