<template>
  <common-layout :title="'Dashboard'"></common-layout>
</template>

<script>
import CommonLayout from '@/Commons/CommonLayout'

export default {
  name: 'DashboardMainManager',
  components: {
    'common-layout': CommonLayout
  }
}
</script>

<style>

</style>
