<template>
  <div v-if="myPatient">
    <div class="row mb-2">
      <div class="form-group col-md-4">
        <label>Nomor Pasien</label>
        <input
          type="text"
          class="form-control"
          :value="myPatient.patient_number"
          disabled
        >
      </div>
      <div class="form-group col-md-4">
        <label>Nama Pasien</label>
        <input
          type="text"
          class="form-control"
          @change="onUpdate"
          v-model="myPatient.name"
        >
      </div>
      <div class="form-group col-md-4">
        <label>Jenis Kelamin</label>
        <select
          v-model="myPatient.gender"
          class="form-control"
          @change="onUpdate"
        >
          <option value="male">Pria</option>
          <option value="female">Wanita</option>
        </select>
      </div>
    </div>
    <div class="row mb-2">
      <div class="form-group col-md-12">
        <label>Alamat</label>
        <textarea
          @change="onUpdate"
          v-model="myPatient.address"
          class="form-control"
        >
        </textarea>
      </div>
    </div>
    <div class="row mb-2">
      <div class="form-group col-md-4">
        <label>Tempat Lahir</label>
        <input
          type="text"
          class="form-control"
          @change="onUpdate"
          v-model="myPatient.place_birth"
        >
      </div>
      <div class="form-group col-md-4">
        <label>Tanggal Lahir</label>
        <input
          type="date"
          class="form-control"
          @change="onUpdate"
          v-model="myPatient.date_birth"
        >
      </div>
      <div class="form-group col-md-4">
        <label>Umur</label>
        <input
          type="number"
          class="form-control"
          @change="onUpdate"
          v-model="myPatient.age"
        >
      </div>
    </div>
    <div class="row mb-2">
      <div class="form-group col-md-4">
        <label>Nomer Telepon</label>
        <input
          type="text"
          class="form-control"
          @change="onUpdate"
          v-model="myPatient.phone"
        >
      </div>
      <div class="form-group col-md-4">
        <label>Golongan Darah</label>
        <select
          v-model="myPatient.blood"
          class="form-control"
          @change="onUpdate"
        >
          <option value="A">A</option>
          <option value="O">O</option>
          <option value="B">B</option>
          <option value="AB">AB</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Pekerjaan</label>
        <input
          type="text"
          class="form-control"
          @change="onUpdate"
          v-model="myPatient.occupation"
        >
      </div>
    </div>
    <div class="row mb-2">
      <div class="form-group col-md-6">
        <label>Agama</label>
        <select
          v-model="myPatient.religion"
          class="form-control"
          @change="onUpdate"
        >
          <option value="muslim">Muslim</option>
          <option value="protestant">Protestant</option>
          <option value="catholic">Katolik</option>
          <option value="hindu">Hindu</option>
          <option value="buddha">Budha</option>
          <option value="conficius">Khonghucu</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label>Status Pernikahan</label>
        <select
          v-model="myPatient.marital"
          class="form-control"
          @change="onUpdate"
        >
          <option value="single">Single</option>
          <option value="married">Menikah</option>
          <option value="widow">Janda</option>
          <option value="widower">Duda</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PatientDetail',
  props: {
    patient: Object
  },
  data () {
    return {
      myPatient: undefined
    }
  },
  methods: {
    onUpdate () {
      this.$emit('onUpdate', this.myPatient)
    }
  },
  watch: {
    patient (n, o) {
      this.myPatient = n
    }
  },
  mounted () {
    this.myPatient = this.patient
  }
}
</script>
