<template>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Nomer Pasien</label>
        <input
          v-model="query.patient_number"
          type="text"
          @change="onFilter"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label>Nama Pasien</label>
        <input
          v-model="query.name"
          type="text"
          @change="onFilter"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <input
          type="checkbox"
          @change="onFilter"
          v-model="query.is_draft"
        >
        <label
          class="form-check-label"
        >
          Draft
        </label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PatientFilter',
  data () {
    return {
      query: {
        patient_number: '',
        name: '',
        is_draft: false
      }
    }
  },
  methods: {
    onFilter () {
      this.$emit('onFilter', this.query)
    }
  }
}
</script>
