<template>
  <div class="row">
    <div v-if="registers.length > 0" class="col-md-12">
      <b-table
        striped
        hover
        :items="registers"
        :fields="fields"
        @row-clicked="onSelect"
        @row-dblclicked="onDoubleClick"
        v-b-tooltip.hover title="Tekan double click untuk melihat detil"
      >
        <div slot="table-busy" class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </b-table>
    </div>
    <div v-if="registers.length <= 0" class="col-md-12">
      <p>No Data...</p>
    </div>
  </div>
</template>

<script>

export default {
  name: 'RegisterList',
  props: {
    registers: Array
  },
  data () {
    return {
      fields: [
        {key: 'register_number', label: 'Nomer Registrasi'},
        {key: 'doctor_number', label: 'Nomer Dokter'},
        {key: 'patient_number', label: 'Nomer Pasien'},
        {key: 'is_open', label: 'Pendaftaran Baru'},
        {key: 'is_draft', label: 'Draft'}
      ]
    }
  },
  methods: {
    onSelect (register) {
      this.$emit('onSelect', register)
    }
  }
}
</script>
