<template>
  
</template>

<script>
export default {
  name: 'RegisterDetail',
  props: {
    register: Object
  },
  data () {
    return {
      myRegister: undefined
    }
  },
  methods: {
    onUpdate () {
      this.$emit('onUpdate', this.myRegister)
    }
  },
  watch: {
    register (n, o) {
      this.myRegister = n
    }
  },
  mounted () {
    this.myRegister = this.register
  }
}
</script>
