<template>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Nomer Pendaftaran</label>
        <input @keypress.enter="onFilter" v-model="query.register_number" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Nomer Pasien</label>
        <input @keypress.enter="onFilter" v-model="query.patient__patient_number" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Nomer Dokter</label>
        <input @keypress.enter="onFilter" v-model="query.doctor__doctor_number" type="text" class="form-control">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RegisterFilter',
  data () {
    return {
      query: {
        register_number: '',
        patient__patient_number: '',
        doctor__doctor_number: ''
      }
    }
  },
  methods: {
    onFilter () {
      this.$emit('onFilter', this.query)
    }
  }
}
</script>
