<template>
  <common-layout :title="'Pendaftaran'">
    <div class="row mb-4">
      <div class="col-md-12">
        <button class="btn btn-success float-right">Daftar Baru</button>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <common-card>
          <span slot="title">Filter</span>
          <register-filter slot="content" />
        </common-card>
      </div>
      <div class="col-md-9">
        <common-card>
          <span slot="title">Daftar Pendaftaran</span>
          <register-list slot="content" :registers="registers" />
        </common-card>
      </div>
    </div>
    <div v-if="paginationRegister.count > 0" class="row mb-4">
      <div class="col-md-12">
        <b-pagination
          class="float-right"
          v-model="queryRegister.page"
          :total-rows="paginationRegister.count"
          @change="onPaginateRegister"
          :per-page="100"
          aria-controls="my-table"
        >
        </b-pagination>
      </div>
    </div>
  </common-layout>
</template>

<script>
import MixinHttp from '@/Mixins/MixinHttp'
import HelperNotify from '@/Helpers/HelperNotify'
import CommonLayout from '@/Commons/CommonLayout'
import CommonCard from '@/Commons/CommonCard'

import RegisterService from '@/Application/Registers/RegisterService'
import RegisterList from '@/Application/Registers/Components/RegisterList'
import RegisterFilter from '@/Application/Registers/Components/RegisterFilter'

export default {
  name: 'RegisterMainManager',
  components: {
    'common-layout': CommonLayout,
    'common-card': CommonCard,
    'register-list': RegisterList,
    'register-filter': RegisterFilter
  },
  mixins: [
    MixinHttp,
    HelperNotify,
    RegisterService
  ],
  methods: {
    init () {
      this.httpInit()
      this.listRegister()
    },
    onPaginateRegister (page) {
      console.log(page)
    }
  },
  mounted () {
    this.init()
  }
}
</script>

<style>

</style>
