<template>
  
</template>

<script>
export default {
  name: 'RecipesDetail',
  props: {
    recipe: Object
  },
  data () {
    return {
      myRecipes: undefined
    }
  },
  methods: {
    onUpdate () {
      this.$emit('onUpdate', this.myRecipes)
    }
  },
  watch: {
    recipe (n, o) {
      this.myRecipes = n
    }
  },
  mounted () {
    this.myRecipes = this.recipe
  }
}
</script>
