<template>
  <pre>
    {{ recipes }}
  </pre>
</template>

<script>
export default {
  name: 'RecipesList',
  props: {
    recipes: Array
  },
  data () {
    return {
      fields: []
    }
  },
  methods: {
    onSelect (recipe) {
      this.$emit('onSelect', recipe)
    },
    onDoubleClick (recipe) {
      this.$emit('onDoubleClick', recipe)
    },
    onDestroy (recipe) {
      this.$emit('onDestroy', recipe)
    }
  }
}
</script>
