<template>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Nomer Dokter</label>
        <input
          v-model="query.doctor_number"
          @keypress.enter="onFilter"
          type="text"
          class="form-control"
        >
      </div>
      <div class="form-group">
        <label>Nama Dokter</label>
        <input
          v-model="query.name"
          @keypress.enter="onFilter"
          type="text"
          class="form-control"
        >
      </div>
      <div class="form-group">
        <label>Telepon Dokter</label>
        <input
          v-model="query.phone"
          @keypress.enter="onFilter"
          type="text"
          class="form-control"
        >
      </div>
      <div class="form-group">
        <label>Nomer Poli</label>
        <input
          v-model="query.poly__poly_number"
          @keypress.enter="onFilter"
          type="text"
          class="form-control"
        >
      </div>
      <div class="form-group">
        <label>Nama Poli</label>
        <input
          v-model="query.poly__name"
          @keypress.enter="onFilter"
          type="text"
          class="form-control"
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DoctorFilter',
  data () {
    return {
      query: {
        doctor_number: '',
        name: '',
        phone: '',
        poly__name: '',
        poly__poly_number: ''
      }
    }
  },
  methods: {
    onFilter () {
      this.$emit('onFilter', this.query)
    }
  }
}
</script>
