<template>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Nomer Poli</label>
        <input @keypress.enter="onFilter" v-model="query.poly_number" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label>Nama Poli</label>
        <input @keypress.enter="onFilter" v-model="query.name" type="text" class="form-control" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PolyFilter',
  data () {
    return {
      query: {
        poly_number: '',
        name: ''
      }
    }
  },
  methods: {
    onFilter () {
      this.$emit('onFilter', this.query)
    }
  }
}
</script>
