<template>
  <div v-if="myPoly" class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Nomer Poli</label>
        <input
          :value="myPoly.poly_number"
          type="text"
          class="form-control"
          disabled
        >
      </div>
      <div class="form-group">
        <label>Nama Poli</label>
        <input
          @change="onUpdate"
          v-model="myPoly.name"
          type="text"
          class="form-control"
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PolyDetail',
  props: {
    poly: Object
  },
  data () {
    return {
      myPoly: undefined
    }
  },
  methods: {
    onUpdate () {
      this.$emit('onUpdate', this.myPoly)
    }
  },
  watch: {
    poly (n, o) {
      this.myPoly = n
    }
  },
  mounted () {
    this.myPoly = this.poly
  }
}
</script>
